<ion-tabs class="tabs-icon-top tabs-color-active-energized">

  <!-- Dashboard Tab -->
  <ion-tab title="Tasks" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/one">
    <ion-nav-view name="tab-one"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="New Task" icon-off="ion-compose" icon-on="ion-compose" href="#/tab/two">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Remove Task" icon-off="ion-trash-a" icon-on="ion-trash-a" href="#/tab/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>


</ion-tabs>
